<H1> About us </H1> 
<P> We are a Community of intetrnational entrepreneurs who work together to help each other succeed. Based in Sao Paulo, San Fransico, Vancouver and Florianoplis, we have a unique perspective on the latest technology from both North America's and South America's Startup Scenes.</P>
<P> We believe that education is the most powerful tool to help create a better world and are passionate about teaching those who want to learn how to start thier own businesses, move to another country or need a space to live. </P>
